.attribution { font-size: 11px; text-align: center; background: var(--very-dark-blue); }
.attribution a { color: hsl(228, 45%, 44%); }

/* Resets */ 

* {
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

body, h1, h2, h3, p, ul {
  margin: 0;
} 


ul {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

input, button {
  border: none;
}

input:focus {
  outline: none;
}
/* ==================
   Typography
===================== */

/* Colours */ 

:root {
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);

  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body, .cta-secondary, #email {
  background: var(--very-light-gray);
}

.cta-primary, .card-number, .submit-btn {
  background: var(--bright-red);
}

.banner {
  background-color: var(--bright-red); 
}

.card-title {
  background: var(--very-pale-red);
}

@media (min-width: 600px) {
  .card-title {
    background: initial;
  }
}

.slide {
  background: var(--very-pale-red); 
}

footer {
  background: var(--very-dark-blue);
}

.hero-title, .banner-title, .info-title, .testimonials-title, .card-title, .header-nav .nav-link, .slide-title {
  color: var(--dark-blue);
}

footer, .cta-primary, .banner-title, .card-number, .submit-btn {
  color: var(--very-light-gray);
}

.hero-body, .info-body, .card-body, .slide-body {
  color: var(--dark-grayish-blue);
}

.cta-secondary {
  color: var(--bright-red);
}

.copyright {
  color: var(--very-pale-red);
  opacity: 0.4;
}

.form-error-msg {
  color: var(--bright-red);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--dark-grayish-blue);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--dark-grayish-blue);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--dark-grayish-blue);
}

.footer-logo > g > path {
  fill: white;
}

/* General */

body {
  text-align: center;
}

p {
  line-height: 1.7;
}

.cta-btn {
  font-size: 0.75rem;
  font-weight: 700;
}

@media (min-width: 600px) {
  body {
    text-align: left;
  }
  .header-nav .nav-item {
    text-align: center;
  }

  .testimonials {
    text-align: center;
  }
}

.header-nav .nav-link {
  font-weight: 700;
}

@media (min-width: 880px) {
  .header-nav .nav-link {
    font-weight: 500;
    font-size: 0.8rem;
  }
}

.hero-title, .banner-title {
  font-size: 2.4rem;
  font-weight: 700;
}

@media (min-width: 600px) {
  .hero-title {
    font-size: clamp(2rem, 0.8rem + 3.2vw, 3.2rem);
  }
}

.info-title, .testimonials-title {
  font-size: 1.9rem;
  font-weight: 700;
}

@media (min-width: 600px) {
  .info-title, .testimonials-title {
    font-size: 2.4rem;
  }
}

.footer-nav {
  text-align: left;
}

.info-body, .card-body, .slide-body {
  font-size: 0.85rem;
  line-height: 2;
}

@media (min-width: 600px) {
  .info-body, .card-body, .slide-body {
    font-size: initial;
    line-height: 1.6;
  }
}

.card-title, .card-number, .nav-link, .slide-title {
  font-size: 0.9rem;
}

@media (min-width: 600px) {
  .card-title, .card-number, .nav-link, .slide-title {
    font-size: initial;
  }
}

.submit-btn {
  text-transform: uppercase;
}

.copyright {
  font-size: 0.8rem;
}

.form-error-msg {
  font-size: 0.6rem;
  font-style: italic;
}

/* Active States */ 

.nav-link, .social-link, .cta-btn, .submit-btn, .mobile-menu, .nav-close-btn {
  cursor: pointer;
}

header .nav-link:hover {
  color: var(--dark-grayish-blue);
}

footer .nav-link:hover {
  color: var(--bright-red);
}

.social-icon:hover path {
  fill: var(--bright-red);
}

.cta-btn:hover.cta-btn::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 25px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  opacity: 0.3;
}

/* ==================
   Layout
===================== */

/* Global */ 

.container {
  display: flex;
  flex-direction: column;
  width: 84vw;
  margin: 0 auto;
  max-width: 1110px; 
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cta-btn {
  padding: 1.2em 2.5em 1.1em 2.5em;
  border-radius: 25px;
  display: inline-block;
  position: relative;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

/* Header */

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.6em 0;
}

.header-logo {
  width: 110px;
  margin-top: 5px;
}

.header-nav {
  /*display: none;*/
}

.cta-header {
  display: none;
}

.nav-close-btn {
  display: none;
}

@media (min-width: 880px) {
  .header {
    align-items: center;
  }

  .mobile-menu {
    display: none;
  }

  .header-nav {
    display: block;
  }

  .cta-header {
    display: block;
  }
}

@media (min-width: 600px) {
  .header {
    padding-top: 3.5em;
  }
  .header-logo {
    width: initial;
  }
}

/* Nav */ 

.mobile-menu, .nav-close-btn {
  z-index: 3;
}

.nav-list {
  display: flex;
}

.header-nav {
  position: fixed;
  background: white;
  top: 106px;
  width: 84vw;
  transform: translateY(-140%);
  transition: transform 250ms;
  z-index: 2;
}

.header-nav .nav-list {
  flex-direction: column; 
  padding: 1.5em 0;
}

.header-nav .nav-item {
  margin: 1em 0;
}

@media (min-width: 879px) {
  .header-nav {
    transition: transform 0ms;
  }
}
@media (min-width: 880px) {
  .header-nav {
    position: initial;
    background: initial;
    width: initial;
    transform: translateY(0%);
  }
  
  .header-nav .nav-list {
    flex-direction: initial; 
    padding: initial;
    gap: 2em;
  }
  .header-nav .nav-item {
    margin: initial;
  }
}

.nav-open-nav {
  transform: translateY(0%);
}

.nav-open-body {
  overflow: hidden;
}

.nav-open-body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(20, 20, 20, 0.0), rgba(20, 20, 20, 0.75));
  z-index: 1;
}

/* Main */ 

main {
  padding-top: 106px;

  background-image: url(../images/bg-tablet-pattern.svg), url(../images/bg-tablet-pattern.svg);
  background-position: -85% -4%, 315% 16%;
  background-repeat: no-repeat, no-repeat;
  background-size: 120%, 80%;
}

@media (min-width: 600px) {
  main {
    padding-top: 210px;

    background-position: 175% -2%, -200% 50%;
    background-size: 72%, 80%;
  }
}

@media (min-width: 800px) {
  main {
    background-position: 175% -6%, -200% 50%;
    background-size: 72%, 80%;
  }
}

@media (min-width: 1150px) {
  main {
    background-position: 123% -7%, -480px 53%;
    background-size: initial;
  }
}

/* Hero */ 

.hero-content {
  margin-top: 1em;
}

.hero-body {
  margin: 0.5em 1em 1.5em 1em;
}

@media (min-width: 600px) {
  .hero .container {
    flex-direction: row-reverse;
    align-items: center;
  }

  .hero-content {
    margin: initial;
  }
  .hero-body {
    margin: 2em 0;
    max-width: 350px;
  }
  .hero-img {
    margin-right: -16px;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .hero-img {
    max-width: 55%;
  }

}

/* Info */ 

.info {
  margin: 5.5em 0 1em 0;
}

@media (max-width: 600px) {
  .info .container {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 880px) {
  .info .container {
    flex-direction: column;
  }
}

.card {
  margin-left: 1em;
}

.info-title {
  margin: 0 1rem;
}

.info-body {
  margin: 1.5em auto 4em auto;
  max-width: 290px;
}

@media (min-width: 600px) and (max-width: 880px) {
  .info-title, .info-body {
    text-align: center;
  }
  .info-body {
    max-width: initial;
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
@media (min-width: 880px) {
  .col:first-child {
    margin-right: 6em;
  }
  .info-title {
    margin-left: 0;
    margin-right: 0;
  }
  .info-body {
    max-width: 340px; 
    margin-left: 0;
  }
}

@media (min-width: 1100px) {
  .col:first-child {
    margin-right: 3em;
  }
}

/* Cards */ 

.card-number {
  padding: 0.6em 1.4em;
  border-radius: 25px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 66px;
}

.card {
  position: relative;
}

.card-title, .card-body {
  padding-right: 1em;
}

.card-title {
  text-align: left;
  margin-left: 1.6em;
  padding: 0.6em 0 0.6em 3.8em;
}

.card-body {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 4em;
}

@media (min-width: 880px) {
  .card-title, .card-body {
    padding-right: 0;
  }
  .card-body {
    max-width: 470px;
  }
  .card-title {
    padding-left: 0;
    margin-left: 0;
  }
  .card-number {
    left: -90px;
  }
}

/* Testimonials */ 

.testimonials-title {
  margin-bottom: 5rem;
}

.slide {
  position: relative;
  max-width: 345px;
  margin: 1em auto;
  padding: 2em;
}

.slide-img {
  width: 70px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonials .cta-btn {
  margin-top: 3em;
  margin-bottom: 4em;
}

.slide-title {
  margin: 2.7em auto 1.5em auto;
}

.slide-buttons {
  text-align: center;
  margin-top: 1.2em;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 1px;
  border: 1px solid var(--bright-red); 
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--bright-red);
}

@media (min-width: 600px) {
  .slide {
    max-width: 527px;
  }
}

/* Banner */ 

.banner {
  padding: 5.5em 0;
  background-image: url(../images/bg-simplify-section-mobile.svg); 
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: left center; /* Center the image */
  position: relative;
}

@media (min-width: 600px) {
  .banner {
    padding: 4em 0;
    background-image: unset; 
    overflow: hidden;
  }
  
  .banner:after {
    content: url(../images/bg-simplify-section-desktop.svg);
    position: absolute;
    top: -134px;
    bottom: 0;
    right: -235px;
  }
}

@media (min-width: 1450px) {
  .banner:after {
    right: unset;
    left: 50%;
    transform: translateX(-34%);
  }
}

.banner .container {
  align-items: center;
}

.banner-title {
  margin-bottom: 0.7em;
  /*margin-right: 1em;*/
}

@media (min-width: 600px) {
  .banner-title {
    margin-bottom: 0;
    max-width: 450px;
  }
  .banner .cta-btn {
    min-width: 132px;
  }
}

/* Footer */ 

.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center; 
}

.grid > * {
  grid-column: 1 / -1;
}

.footer-logo {
  order: 4;
}

.social-list {
  order: 3;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.5em 1em 3em 1em;
  max-width: 420px;
  align-items: center;
}

.social-icon {
  scale: 1.75;
}

@media (min-width: 800px) {
  .social-list {
    width: initial;
    gap: 1em;
    padding: initial;

  }
  .social-icon {
    scale: 1;
  }
}

.footer-nav {
  order: 2;
  display: flex;
  gap: 5em;
}

.footer-nav .nav-list {
  flex-direction: column;
}

.footer-nav .nav-list:first-child {
  margin-right: 1em;
}

.footer-nav .nav-item {
  margin-bottom: 1em;
}

.form {
  order: 0;
  margin: 3rem 0;
  position: relative;
  width: max-content; 
}

.form-error-msg {
  margin-left: 2em;
  position: absolute;
  top: 55px;
  display: none;
}

#email, .submit-btn {
  height: 48px;
}

#email {
  padding: 1.2em 2em 1.1em 2em;
  border-radius: 25px;
  margin-right: 0.2em;
  width: 220px;
}

.copyright {
  order: 5;
  margin: 4em 0 2.5em 0;
}

@media (min-width: 800px) {
  footer {
    padding: 3.5em 0;
  }
  .grid {
    grid-template-columns: 1fr 1.5fr 1fr;
  }
  .grid > * {
    grid-column: initial;
  }

  .footer-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2; 
    justify-self: start;
  }
  
  .social-list {
    grid-column: 1 / 2;
    grid-row: 2 / 3; 
    justify-self: start;
    align-self: end;
  }
  
  .footer-nav {
    grid-column: 2 / 3;
    grid-row: 1 / 3; 
    justify-self: start;
    justify-content: space-between;
    gap: initial;
    width: 70%;
    margin-left: 1em;
    margin-right: 1em;
    /*gap: 13em;*/
    /*margin-right: 9em;*/
  }

  .footer-nav .nav-item:last-child {
    margin-bottom: 0;
  }

  .footer-nav .nav-item {
    width: max-content;
  }
  
  .form {
    grid-column: 3 / 4;
    grid-row: 1 / 2; 
    justify-self: end;
    margin: 0;
  }

  #email {
    width: 200px;
    padding-left: 1.5em;
  }
  
  .copyright {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: end;
    justify-self: end;
    text-align: right;
    margin: 0;
  }  
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* 
To do: 
  Done today: 
    js fot mobile nav 
    js for form validation 

  to do: 
    js for image slider 

  for next project, need to add padding to .nav-link so I don't have to be right on top of the text in order for hover effects to work. 
*/ 