.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Resets */ 

* {
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

body, h1, h2, h3, p, ul {
  margin: 0;
} 


ul {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

input, button {
  border: none;
}

/* ==================
   Typography
===================== */

/* Colours */ 

:root {
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);

  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body, .cta-secondary, #email {
  background: var(--very-light-gray);
}

.cta-primary, .card-number, .banner, .submit-btn {
  background: var(--bright-red);
}

.slide {
  background: var(--very-pale-red); 
}

footer {
  background: var(--very-dark-blue);
}

.hero-title, .banner-title, .info-title, .testimonials-title, .card-title, .header-nav .nav-link {
  color: var(--dark-blue);
}

footer, .cta-primary, .banner-title, .card-number, .submit-btn {
  color: var(--very-light-gray);
}

.hero-body, .info-body, .card-body {
  color: var(--dark-grayish-blue);
}

.cta-secondary {
  color: var(--bright-red);
}

.copyright {
  color: var(--very-pale-red);
  opacity: 0.4;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--dark-grayish-blue);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--dark-grayish-blue);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--dark-grayish-blue);
}

.footer-logo > g > path {
  fill: white;
}

/* Active States */ 

/* General */

body {
  text-align: center;
}

.header-nav .nav-link {
  font-weight: 700;
}

@media (min-width: 600px) {
  body {
    text-align: left;
  }

  .header-nav .nav-link {
    font-weight: 500;
  }

  .testimonials {
    text-align: center;
  }
}

/* ==================
   Layout
===================== */

/* Global */ 

.container {
  display: flex;
  flex-direction: column;
  width: 86vw;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .container {
    width: 76vw;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Header */

.header {
  flex-direction: row;
  justify-content: space-between;
}

.header-nav {
  display: none;
}

.cta-header {
  display: none;
}

.nav-close-btn {
  display: none;
}

@media (min-width: 600px) {
  .header {
    align-items: center;
  }

  .mobile-menu {
    display: none;
  }

  .header-nav {
    display: block;
  }

  .cta-header {
    display: block;
  }
}

/* Nav */ 

.nav-list {
  display: flex;
}

/* Main */ 

/* Hero */ 

@media (min-width: 600px) {
  .hero .container {
    flex-direction: row-reverse;
  }
}

/* Info */ 

/* Cards */ 

.card {
  position: relative;
}

.card-number {
  position: absolute;
  left: 0;
  top: 2px;
}

.card-title {
  text-align: left;
  margin-left: 1.3em;
}

.card-body {
  text-align: left;
}

/* Testimonials */ 

.slide {
  position: relative;
}

.slide-img {
  width: 70px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

/* Banner */ 

.banner .container {
  align-items: center;
}

/* Footer */ 
.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center; 
}

.grid > * {
  grid-column: 1 / -1;
}

.footer-logo {
  order: 4;
}

.social-list {
  order: 3;
  display: flex;
}

.footer-nav {
  order: 2;
  display: flex;
}

.footer-nav .nav-list {
  flex-direction: column;
}

.form {
  order: 0;
}

.copyright {
  order: 5;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid > * {
    grid-column: initial;
  }

  .footer-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2; 
    justify-self: start;
  }
  
  .social-list {
    grid-column: 1 / 2;
    grid-row: 2 / 3; 
    justify-self: start;
  }
  
  .footer-nav {
    grid-column: 2 / 3;
    grid-row: 1 / 3; 
  }
  
  .form {
    grid-column: 3 / 4;
    grid-row: 1 / 2; 
    justify-self: end;
  }
  
  .copyright {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: end;
  }  
}
/* Absolute positioning on header */ 